<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:;" class="sidebar-toggle" sidebar-toggle data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu" *ngFor="let item of navs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i [ngClass]="item.icon"></i>
                    <span [ngClass]="item.label.class">{{item.label.title}}</span>
                </a>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img [src]="info.avatar" class="user-image" [attr.alt]="info.nickname">
                    <span class="hidden-xs">{{info.nickname}}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img [src]="info.avatar" class="img-circle" [attr.alt]="info.nickname">
                        <p>
                            {{info.nickname}}
                            <small>{{info.desc}}</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">关注我的</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">我的任务</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">我的好友</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="javascript:;" class="btn btn-default btn-flat">账户</a>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:;" class="btn btn-default btn-flat">退出</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="javascript:;" (click)="toggleControlSidebar()" data-toggle="control-sidebar">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>